# JENIS-JENIS TIPE DATA DALAM PYHTON

CONTOH TIPE DATA INT

In [1]:
a = 1
print(type(a))

<class 'int'>

CONTOH TIPE DATA STRING

In [2]:
a = 'test'
print(type(a))

<class 'str'>

CONTOH TIPE DATA FLOAT

In [4]:
a = 3.14
print(type(a))

<class 'float'>

CONTOH TIPE DATA COMPLEX

In [5]:
a = 1j
print(type(a))

<class 'complex'>

# JELASKAN MAKSUD DARI PENERAPAN VARIABEL TERKAIT TIPE DATA INT DI BAWAH INI

In [7]:
a = 2
b = int(a)

print(a)
print(b)

2
2

# JAWABAN

CONTOH TIPE DATA ENUM

In [17]:
from enum import Enum

class Hari(Enum):
    senin = 1
    selasa = 2
    rabu = 3
    kamis = 4
    jumat = 5
    sabtu = 6
    minggu = 7
for Hari in (Hari): 
    print(Hari.value, "-",Hari)

1 - Hari.senin
2 - Hari.selasa
3 - Hari.rabu
4 - Hari.kamis
5 - Hari.jumat
6 - Hari.sabtu
7 - Hari.minggu

In [22]:
from enum import Enum

class Hari(Enum):
    senin = 1
    selasa = 2
    rabu = 3
    kamis = 4
    jumat = 5
    sabtu = 6
    minggu = 7
print(Hari(3).name)
print(Hari.rabu.value)

rabu
3